.App {
  text-align: center;
  #drum-machine {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  #buttons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    .drum-pad{
      padding: 30px;
      font-size: 50px;
      border:2px solid black;
    }
  }
}









